:root {
  --app-background: #f5f7f9;
  --app-color: #383f47;

  --icons-color: #aeb5bc;
  --icons-color-hover: #949aa0;

  --box-background: #fff;
  --box-border-radius: 6px;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  --table-background-odd: #fff;
  --table-background-even: #f5f7f9;
  --table-avatar-size: 50px;
  --table-action-size: 130px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background-color: var(--app-background);
  color: var(--app-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
